html {
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  background: url(./images/rose.png) 6rem 29rem / auto fixed no-repeat, url(./images/kim-tea-hee.png) left / auto fixed no-repeat, darkred url(./images/nen-hoa-hong.png) right bottom / auto fixed no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
  margin: 0;
}
p {
  line-height: 2;
  margin-block-start: 0;
}

.text-red {
  color: red;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-auto {
  flex: 1 1 auto;
}
.p-2 {
  padding: 0.5rem;
}
.pis-6 {
  padding-inline-start: 2.5rem;
}

li > ul, li > ol {
  padding-inline-start: 1.25rem;
  color: #feccff;
}