body {
  padding: 0 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: blue;
}
table {
  border-collapse: collapse;
  background-color: beige;
}
td {
  border: 2px solid blue;
  padding: 0.5rem;
}
caption {
  text-transform: uppercase;
}
tr > td:first-of-type {
  padding-inline-end: 6rem;
}

/* Row 1 */
tr:first-of-type > td:last-of-type > * {
  width: 80%;
}

/* Row 2 */
tr:nth-of-type(2) > td:last-of-type, tr:nth-of-type(8) > td:last-of-type {
  padding-inline-end: 3rem;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Row 3 */
tr:nth-of-type(3) > td:last-of-type > * {
  width: 60%;
}
input[type='checkbox'], input[type='checkbox'] + label, input[type='radio'], input[type='radio'] + label, select, button {
  cursor: pointer;
}

/* Row 4 */
input[type='checkbox'] {
  accent-color: #eee;
}

/* Row 6 */
tr:nth-of-type(6) > td {
  padding-block: 1rem;
}
input[type='radio'] {
  accent-color: #666;
}

/* Row 7 */
tr:nth-of-type(7) > td:first-of-type {
  padding-inline: 8rem;
}
tr:nth-of-type(7) > td:first-of-type > fieldset {
  padding-inline-end: 4rem;
}
tr:nth-of-type(7) > td:first-of-type > fieldset > div {
  display: inline-block;
}
tr:nth-of-type(7) > td:first-of-type > fieldset input {
  width: 6rem;
}

/* Last 2 rows */
tr:last-of-type > td:first-of-type, tr:nth-last-of-type(2) > td:first-of-type {
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
}

/* Last row */
tr:last-of-type > td:first-of-type {
  color: crimson;
  font-weight: bold;  
}

@media screen and (max-width: 768px) {
  tr:nth-of-type(7) > td:first-of-type {
    padding-inline: 4rem;
  }
  tr > td:first-of-type {
    padding-inline-end: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  form, table {
    width: 100%;
  }
  tr {
    border: 2px solid blue;
  }
  td {
    padding: 0.5rem;
    border: none;
    display: block;
  }
  tr > td:first-of-type {
    text-decoration: underline;
  }
  tr:nth-of-type(2) > td:last-of-type, tr:nth-of-type(8) > td:last-of-type {
    padding-inline-end: 0.5rem;
  }
  tr:nth-of-type(6) > td {
    padding-block: 0.5rem;
  }
  tr:nth-of-type(7) > td:first-of-type {
    padding-inline: 1rem;
    text-decoration: none;
  }
  tr:nth-of-type(7) > td:first-of-type > fieldset > legend {
    text-decoration: underline;
  }
  tr:nth-of-type(7) > td:first-of-type {
    padding-inline: 4rem;
  }
  tr:nth-of-type(7) > td:first-of-type > fieldset {
    text-align: center;
    padding-inline-end: 0.5rem;
  }
  tr:nth-of-type(7) > td:first-of-type > fieldset label {
    display: block;
  }
}