<body>
  <div class="main-text-container">
    <p><span class="text-xl">Welcome</span> to the Scaal Coffee Web site, home of the finest coffee gifts in the world.</p>
    <p>Take a moment to view our many <span class="text-emphasized cursor-pointer" onclick="AJAXReload('./components/productsText.html');">products</span>. We offer fine roasted products as well as items to wear and items for the office.</p>
    <p>Scaal has been serving fine coffee connoisseurs like you for over 50 years. We follow a roasting process that produces the finest coffees in the world.</p>
    <p>Check with us often to see our <span class="text-emphasized cursor-pointer" onclick="AJAXReload('./components/thisWeekText.html');">special promotions</span> of the week.</p>
  </div>
  <div class="main-img-container">
    <img src="./images/coffee-cup.jpg" alt="coffee-cup">
    <img src="./images/coffee-online.gif" alt="coffee-online">
  </div>
</body>