.contents-container {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.navigation-container {
  background: url(./images/nen-hoa-muc-luc.png) center bottom / contain no-repeat, linear-gradient(#00ff00aa, #ffff00aa);
}
.link-container {
  padding: 0.5rem 0 0 1rem;
  margin: 0;
}
table {
  border-spacing: 0.5rem;
}
td {
  background: url(./images/nen-lien-ket-muc-luc.png) left center / cover no-repeat;
  padding: 0.25rem 0 0.25rem 2rem;
}
tr:first-of-type > td {
  background-image: url(./images/nen-lien-ket-muc-luc-over.png);
}
.link-container {
  display: flex;  
  flex-direction: column;
  gap: 0.5em;
}
.link-container a > li {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px black;
}
.link-container a {
  color: white;
  text-decoration: none;
}