.contents-container {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.navigation-container {
  background: url(./images/nen-menu.png) top / contain no-repeat, url(./images/nen-hoa-muc-luc.png) center / cover no-repeat, linear-gradient(#00ff00aa, #ffff00aa);
  padding-block-start: 5rem;
  text-align: center;
}
.link-container {
  display: flex;  
  flex-direction: column;
  gap: 0.5em;
}
.link-container > a {
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.link-container > a:first-of-type {
  color: yellow;
}